[package]
name = "{{{packageName}}}"
version = "{{{packageVersion}}}"
authors = ["OpenAPI Generator team and contributors"]

[dependencies]
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
url = "2.1"
{{#hyper}}
hyper = "0.13.0-alpha.1"
serde_yaml = "0.7"
base64 = "~0.7.0"
futures = { version = "0.3.0-alpha.18", features = ["async-await", "nightly"] }
{{/hyper}}
{{#reqwest}}
reqwest = { git = "https://github.com/seanmonstar/reqwest.git" }
{{/reqwest}}

[dev-dependencies]
{{#hyper}}
tokio-core = "0.2.0-alpha.4"
{{/hyper}}
