[package]
name = "{{{packageName}}}"
version = "{{{packageVersion}}}"
authors = ["OpenAPI Generator team and contributors"]
edition = "2018"

[dependencies]
async-trait = { version = "0.1" }
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
url = "2.1"
urlencoding = "1"
{{#hyper}}
http = "0.1"
hyper = "0.13.0-alpha.1"
serde_yaml = "0.7"
base64 = "0.7"
futures-preview = { version = "0.3.0-alpha.19", features = ["async-await"] }
{{/hyper}}
{{#reqwest}}
reqwest = { version = "0.10.0-alpha.2", features = ["json"]  }
{{/reqwest}}

[dev-dependencies]
{{#hyper}}
tokio = "0.2.0-alpha.6"
{{/hyper}}
